{% extends 'base.html.twig' %}

{% block title %}Import Mercuriale{% endblock %}

{% block body %}
    <h1>Import Mercuriale</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form_widget(form._token) }}
        <div class="mb-3">
            {{ form_label(form.file, 'Select CSV file', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.file) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.supplier, 'Select Supplier', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.supplier, {'attr': {'class': 'form-select'}}) }}
            {{ form_errors(form.supplier) }}
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>


{% endblock %}
