{% extends 'base.html.twig' %}
{% block title %}Search Results{% endblock %}

{% block body %}
    <div class="container">
        <h1>Search Results</h1>
        <form action="{{ path('product_search') }}" method="GET" class="mb-3">
            <div class="input-group">
                <input type="text" name="q" value="{{ searchTerm }}" class="form-control" placeholder="Search Term">
                <select name="search_type" class="form-select">
                    <option value="name" {% if searchType == 'name' %}selected{% endif %}>Name</option>
                    <option value="product_code" {% if searchType == 'product_code' %}selected{% endif %}>Product Code</option>
                </select>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>

        {% if pagination.getTotalItemCount() > 0 %}
            <ul class="list-group">
                {% for product in pagination %}
                    <li class="list-group-item">{{ product.name }} - {{ product.code }}</li>
                {% endfor %}
            </ul>
            <nav aria-label="Page navigation">
                <div class="navigation">
                    {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </nav>
        {% else %}
            <p class="text-center">No results found.</p>
        {% endif %}
    </div>
{% endblock %}
